@import './base.css';

html,
body,
#app {
  width: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
}

#app {
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}